@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', system-ui;
  background-color: #1b1b1b;
  background-image: 
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 35px,
      rgba(247, 27, 42, 0.05) 35px,
      rgba(247, 27, 42, 0.05) 70px
    );
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

.container {
  width: 80%;
}

.white-title {
  color: white;
}

/* HEADER */

.header-ctn {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(27, 27, 27);
  padding: 3% 8%; 
  border-radius: 10px;
  border: 2px solid white;
}
 .logo-ctn {
  margin: 0 2rem;
} 

.logo {
  width: 15rem;
}

.header-ctn a {
  font-family: 'Black Ops One', system-ui;
  text-decoration: none;
  color: rgb(195, 60, 69);
}

.header-ctn .active {
  color: rgb(247, 27, 42);
  border-bottom: 1px solid rgb(247, 27, 42);
  
}


/* HOMEPAGE */
.home-ctn section {
  margin-bottom: 5rem;
}

.home-comp {
  margin: 3em auto;
}
/* HomePage Jumbo */
.jumbo-ctn {
  color: wheat;
  border: 5px solid rgb(203, 46, 63);
  /* background-color: rgba(43, 173, 31, 0.693); */
}

.jumbo-ctn p, h2{
  text-align: center;
}

.jumbo-img {
  width: 15rem;
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
}

.section-header {
  color: white;
  padding: 1rem;
  width: fit-content;
  padding-right: 30%;
  border: 5px solid rgb(203, 46, 63);
}

.section-content {
  color: wheat;
}

.sect-text {
  width:  30%;
}

.sect-img {
  width: 60%;
}

.sect-img img {
  width: 100%;
}

.browse-btn {
  border: 3px solid wheat;
}

@media (max-width: 767px) {
  .section-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .sect-text {
    width: 70%;
  }

  .sect-img {
    min-width: 350px;
  }
}

/* CARDLIST */

.catalogue-title {
  margin-top: 3rem;
  font-size: 3rem;
  /* color: white; */
}

/* Single Card Design */

.card-title {
  border: 2px solid rgb(247, 27, 42);
}

.card-title h5 {
  padding-left: 5px;
  padding-top: 10px;
  color: rgb(195, 60, 69);
  color: rgb(247, 27, 42);
}

.card-main {
  margin: 10px auto;
  width: fit-content;
}

.card-image {
  width: 15rem;
  border-radius: 0;
}

.card-info {
  display: flex;
  justify-content: space-around;
}

.card-info .author {
  color: rgb(154, 149, 149);
}

.card-info .year {
  background-color: rgb(255, 187, 0);
  padding: 5px 10px;
  border-radius: 5px 5px 5px 5px;
  width: fit-content;
}

@media (max-width: 767px) {
  .card-title h5 {
    text-align: center;
  }
}

/* In Card rating */
.bi {
  color: rgb(138, 196, 119);
}

.rot {
  rotate: 90deg;
}



/* SINGLE MOVIE PAGE */

/* Movie Section */
.movie-section {
  margin: 5rem auto;
  width: 90%;
  border-top: 3px solid rgb(247, 27, 42);
  border-left: 3px solid rgb(247, 27, 42);
  padding-top: 3rem;

  /* background: linear-gradient(180deg, grey 0%, transparent 100%); */
}

.movie-header .card-title{
    min-width: 35%;
    padding: 10px;
    margin: 1rem auto;
    color: rgb(247, 27, 42);
    background-color: rgb(37, 29, 28);
    text-align: center;

    position:absolute;
    top: 30%;
    right: 45%;
    z-index: 10;

}


.movie-main img {
  min-width: 225px; 
  max-width: 45%;
  
}

.movie-main .card-info {
  min-width: 225px; 
  max-width: 40%;
  color: rgb(154, 149, 149);
}

.movie-main .year {
  color: black;
}

.nunito {
  font-family: 'Nunito Variable', sans-serif;
}

.movie-main p {
  width: 90%;
}

.movie-section .footer {
  width: 40%;
  margin: 1rem auto;
  margin-bottom: 4rem;
}

/* Media Query */
@media (max-width: 768px) {
  .movie-main {
    flex-direction: column !important;
    align-items: center;
    gap: 2rem;
  }
  
  .movie-main img {
    max-width: 70% !important;
  }
  .movie-main .card-info {
    max-width: 60%;
  }

  .review-header .rating {
    gap: 10px !important;
  }
}


/* Review Section */
.review-section {
  min-height: 20rem;
}

/* Form */
form {
  color: wheat;
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: rgb(11, 71, 11);
  border: 3px solid wheat;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 0px 15px 15px 15px;
}

form textarea {
  padding: 1rem;
}


.review-form {
  display: none;
}

.form-ctn button {
  padding: 1rem;
  color: wheat;
  border: 3px solid wheat;
}

.add-rev-btn {
  display: none;
  background-color: rgb(11, 71, 11);
}
.trash-rev-btn {
  display: none;
 background-color: rgb(247, 27, 42);
}

.show {
  display: block;
}

.review-form.show {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form input, textarea {
  background-color: rgb(196, 184, 184);
}

.rr-i {
  color: rgb(247, 27, 42);
}

.review-text {
  width: 100%;
}

/* Reviews List */
.reviews-ctn {
  max-width: 70%;
}

.review-ctn {
  border-top: 3px solid rgb(153, 15, 24);
  border-left: 3px solid rgb(247, 27, 42);
  background-color: rgb(68, 127, 49);
  border-radius: 0px 5px 5px 5px;
}

.review-header h5 {
  width: fit-content;
  padding-right: 3rem;
  padding-left: 0.4rem;
  color: rgb(62, 50, 50);
  border-bottom: 2px solid rgb(153, 15, 24);
}

.review-header .bi {
  color: rgb(153, 15, 24);
}

/* FOOTER */
footer {
  background-color: grey;
}