@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', system-ui;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
}

/* HEADER */

.header-ctn {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(27, 27, 27);
  padding: 3% 8%; 
  border-radius: 10px;
}
 .logo-ctn {
  margin: 0 2rem;
} 

.logo {
  width: 15rem;
}

.header-ctn a {
  font-family: 'Black Ops One', system-ui;
  text-decoration: none;
  color: rgb(195, 60, 69);
}

.header-ctn .active {
  color: rgb(247, 27, 42);
  border-bottom: 1px solid rgb(247, 27, 42);
  
}


/* HOMEPAGE */
.home-comp {
  margin: 3em auto;
}
/* HomePage Jumbo */
.jumbo-ctn {
  border: 5px solid rgb(203, 46, 63);
  background-color: rgba(43, 173, 31, 0.693);
}

.jumbo-ctn p, h2{
  text-align: center;
  color: rgb(27, 27, 27);
}

.jumbo-img {
  width: 15rem;
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
}

/* CARDLIST */

.catalogue-title {
  margin-top: 3rem;
  font-size: 3rem;
}

/* Single Card Design */
/* .debug * {
  border: 1px dashed red;
} */

.card-title {
  border: 1px solid black;
}

.card-title h5 {
  padding-left: 5px;
  padding-top: 10px;
  color: rgb(246, 199, 213);
  color: rgb(195, 60, 69);
}

.card-main {
  margin: 0 auto;
  width: fit-content;
}

.card-image {
  width: 15rem;
  border-radius: 0;
}

.card-info {
  display: flex;
  justify-content: space-around;
}

.card-info .year {
  background-color: rgb(255, 187, 0);
  padding: 5px 10px;
  border-radius: 5px 5px 5px 5px;
}

@media (max-width: 767px) {
  .card-title h5 {
    text-align: center;
  }
}

/* In Card rating */
.bi {
  rotate: 90deg;
  color: rgb(138, 196, 119);
}