@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

.header-ctn {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(27, 27, 27);
  padding: 2rem 5rem;
  border-radius: 10px;
}
 .logo-ctn {
  margin: 0 2rem;
} 

.logo {
  width: 15rem;
}