@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', system-ui;
  background-color: #1b1b1b;
  background-image: 
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent 35px,
      rgba(247, 27, 42, 0.05) 35px,
      rgba(247, 27, 42, 0.05) 70px
    );
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

.container {
  width: 80%;
}

.white-title {
  color: white;
}

/* #region HEADER */

.header-ctn {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(27, 27, 27);
  padding: 3% 8%; 
  border-radius: 10px;
  border: 2px solid white;
}
 .logo-ctn {
  margin: 0 2rem;
} 

.logo {
  width: 15rem;
}

.header-ctn a {
  font-family: 'Black Ops One', system-ui;
  text-decoration: none;
  color: rgb(195, 60, 69);
}

.header-ctn .active {
  color: rgb(247, 27, 42);
  border-bottom: 1px solid rgb(247, 27, 42);
  
}

/* #endregion */

/* #region HOMEPAGE */
.home-ctn section {
  margin-bottom: 5rem;
}

.home-comp {
  margin: 3em auto;
}
/* HomePage Jumbo */
.jumbo-ctn {
  color: wheat;
  border: 5px solid rgb(203, 46, 63);
  /* background-color: rgba(43, 173, 31, 0.693); */
}

.jumbo-ctn p, h2{
  text-align: center;
}

.jumbo-img {
  width: 15rem;
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
}

.section-header {
  color: white;
  padding: 1rem;
  width: fit-content;
  padding-right: 30%;
  border: 5px solid rgb(203, 46, 63);
}

.section-content {
  color: wheat;
}

.sect-text {
  width:  30%;
}

.sect-img {
  width: 60%;
}

.sect-img img {
  width: 100%;
}

.browse-btn {
  border: 3px solid wheat;
}

@media (max-width: 767px) {
  .section-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .sect-text {
    width: 70%;
  }

  .sect-img {
    min-width: 350px;
  }
}
/* #endregion */

/* #region CARDLIST */

.catalogue-head {
  border-bottom: 3px solid white;
  padding: 1rem;
  padding-bottom: 3rem;
  margin: 0 2rem;
}

.catalogue-title {
  margin-top: 3rem;
  font-size: 3rem;
  /* color: white; */
}

/* Single Card Design */

.card-title {
  border: 2px solid rgb(247, 27, 42);
}

.card-title h5 {
  padding-left: 5px;
  padding-top: 10px;
  color: rgb(195, 60, 69);
  color: rgb(247, 27, 42);
}

.card-main {
  margin: 10px auto;
  width: fit-content;
}

.card-main .card-img-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 23rem;
  background-color: #1b1b1b;
}

.card-image {
  width: 15rem;
  border-radius: 0;
}

.card-info {
  display: flex;
  justify-content: space-around;
}

.card-info .author {
  color: rgb(154, 149, 149);
}

.card-info .year {
  background-color: rgb(255, 187, 0);
  padding: 5px 10px;
  border-radius: 5px 5px 5px 5px;
  width: fit-content;
}

@media (max-width: 767px) {
  .card-title h5 {
    text-align: center;
  }
}

/* In Card rating */
.bi {
  color: rgb(138, 196, 119);
}

.rot {
  rotate: 90deg;
}

/* #endregion */

/* #region SINGLE MOVIE PAGE */

/* Movie Section */
.movie-section {
  margin: 5rem auto;
  width: 90%;
  border-top: 3px solid rgb(247, 27, 42);
  border-left: 3px solid rgb(247, 27, 42);
  padding-top: 3rem;

  /* background: linear-gradient(180deg, grey 0%, transparent 100%); */
}

.movie-header .card-title{
    min-width: 35%;
    padding: 10px;
    margin: 1rem auto; 
    color: rgb(247, 27, 42); 
    background-color: rgb(37, 29, 28);
    text-align: center;

    position: absolute; 
    top: 30%; 
    right: 45%; 
    z-index: 10; 
}


.movie-main .img-ctn {
  min-width: 215px; 
  max-width: 45%;
  min-height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.img-ctn img {
  width: 100%;
}

.movie-main .card-info {
  min-width: 225px; 
  max-width: 40%;
  color: rgb(154, 149, 149);
}

.movie-main .card-info * {
  margin-bottom: 20px;
}

.movie-main .year {
  color: black;
}

.nunito {
  font-family: 'Nunito Variable', sans-serif;
}

.movie-main p {
  width: 90%;
}

.movie-section .footer {
  width: 40%;
  margin: 1rem auto;
  margin-bottom: 4rem;
}

/* Media Query */
@media (max-width: 768px) {
  .movie-main {
    flex-direction: column !important;
    align-items: center;
    gap: 2rem;
  }
  
  .movie-main .img-ctn {
    max-width: 70% !important;
  }
  .movie-main .card-info {
    max-width: 60%;
  }

  .review-header .rating {
    gap: 10px !important;
  }
}


/* Review Section */
.review-section {
  min-height: 20rem;
}

/* Form */
form {
  color: wheat;
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: rgb(11, 71, 11);
  border: 3px solid wheat;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 0px 15px 15px 15px;
}

form textarea {
  padding: 1rem;
}


.review-form {
  display: none;
}

.form-ctn button {
  padding: 1rem;
  color: wheat;
  border: 3px solid wheat;
}

.add-rev-btn {
  display: none;
  background-color: rgb(11, 71, 11);
}
.trash-rev-btn {
  display: none;
  background-color: rgb(247, 27, 42);
}

.show {
  display: block;
}

.review-form.show {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form input, textarea {
  background-color: rgb(196, 184, 184);
}

.rr-i {
  color: rgb(247, 27, 42);
}

.review-text {
  width: 100%;
}

/* Reviews List */
.reviews-ctn {
  max-width: 70%;
}

.review-ctn {
  border-top: 3px solid rgb(153, 15, 24);
  border-left: 3px solid rgb(247, 27, 42);
  background-color: rgb(68, 127, 49);
  border-radius: 0px 5px 5px 5px;
}

.review-header h5 {
  width: fit-content;
  padding-right: 3rem;
  padding-left: 0.4rem;
  color: rgb(62, 50, 50);
  border-bottom: 2px solid rgb(153, 15, 24);
}

.review-header .bi {
  color: rgb(153, 15, 24);
}

/* #endregion */

/* #region Admin Page */

.admin-page {
  font-family: 'Inter Variable', sans-serif;
  color: wheat;
}

.admin-header {
  border-bottom: 3px solid wheat;
  font-family: 'Black Ops One', system-ui;
}

.admin.search-bar {
  width: 70%;
}

.rating-search > *{
  width: 25%;
  font-size: 14px;
}



/* Movie Form */
.movie-form-ctn {
  padding: 1rem;
  border: 3px solid wheat;
  background-color: #1b1b1b;
}

.movie-form {
    background-color: wheat;
    color: rgb(83, 80, 80);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid black;
    padding-bottom: 2rem;
    
}

.store-movie-btn {
  background-color: black;
  font-family: 'Black Ops One', system-ui;
  border: 5px solid rgb(203, 46, 63);
  color: rgb(203, 46, 63);
  width: fit-content;
  height: fit-content;
}

.store-movie-btn:hover {
  background-color: green;
}

.trash-movie-store {
  background-color: rgb(247, 27, 42) !important; 
  /* debug why this css gets overwritten without '!important' */

  width: fit-content;
}

.submit-movie-btn {
  background-color: green;
  border: 2px solid black !important;
  width: fit-content;
  color: white !important;
  margin-top: 2rem;
  align-self: flex-end;
}

.submit-movie-btn:hover {
  color: black;
  background-color: blue;
}


/* Admin List */
.admin-movie {
  border-left: 3px solid wheat;
  border-right: 3px solid wheat;
  padding: 1rem 2rem;

  background: linear-gradient(90deg, transparent 0%, wheat 100%);
  
}

.admin-movie .bi {
  color: red;
}

.admin-movie .year {
  background-color: rgb(255, 187, 0);
  padding: 2px 7px;
  border-radius: 5px 5px 5px 5px;
  width: fit-content;
  height: fit-content;
  color: black;
  font-family: 'Black Ops One', system-ui;
}

.movie-info {
  border-bottom: 2px solid red;
}

.adv-info {
  min-width: 10rem;
}



/* Accordion */
.acc-btn {
  color: wheat;
}

  /* Accordion Body: image */

.admin-image-ctn {
  height: 300px;
}

.admin-img {
  margin-top: 1rem;
  height: 300px;
}

.adv-info {
  color: #1b1b1b;
  width: 30%;
}
  /* Accordion Body: reviews */

.btn-erase-btn .bi {
  color: red;
}


/* Safety Pop-Up Movie*/
.safety-pop-up {
  position: fixed;
  top: 50%;
  right: 5%;
  left: 5%;
  background-color: white;

  color: black;
  border: 3px solid red;
}

.safety-pop-up .bi {
  color: red;
}

.btn-yes {
  background-color: red;
  color: white;
}

/* #endregion */

/* #region FOOTER */

footer {
  background-color: grey;
}
/* #endregion */


/* Loader */
.loading {
  width: 10rem;
  height: 10rem;
  margin: 10rem auto;
  color: wheat;
  font-size: 2rem;
}

.loading * {
  width: 100%;
  height: 100%;
}

/* AI ADD */


/* Admin Search Bar - Layout a scala */
.admin.search-bar {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.search-component {
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.search-component label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.search-component input[type="text"],
.search-component input[type="number"] {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgb(139, 0, 0);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.search-component input:focus {
  background-color: white;
  border-color: rgb(247, 27, 42);
  box-shadow: 0 0 8px rgba(247, 27, 42, 0.3);
  outline: none;
}

/* Effetto scala - Desktop */
@media (min-width: 1200px) {
  .search-component {
    transform-origin: left top;
  }
  
  .search-component:nth-child(1) {
    transform: translateX(0px) rotate(-1deg);
  }
  
  .search-component:nth-child(2) {
    transform: translateX(30px) rotate(-0.5deg);
  }
  
  .search-component:nth-child(3) {
    transform: translateX(60px) rotate(0deg);
  }
  
  .search-component:nth-child(4) {
    transform: translateX(90px) rotate(0.5deg);
  }
}

/* Effetto scala - Tablet grande */
@media (min-width: 992px) and (max-width: 1199px) {
  .search-component:nth-child(1) {
    transform: translateX(0px) rotate(-0.8deg);
  }
  
  .search-component:nth-child(2) {
    transform: translateX(20px) rotate(-0.4deg);
  }
  
  .search-component:nth-child(3) {
    transform: translateX(40px) rotate(0deg);
  }
  
  .search-component:nth-child(4) {
    transform: translateX(60px) rotate(0.4deg);
  }
}

/* Effetto scala ridotto - Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .search-component:nth-child(1) {
    transform: translateX(0px) rotate(-0.5deg);
  }
  
  .search-component:nth-child(2) {
    transform: translateX(15px) rotate(-0.25deg);
  }
  
  .search-component:nth-child(3) {
    transform: translateX(30px) rotate(0deg);
  }
  
  .search-component:nth-child(4) {
    transform: translateX(45px) rotate(0.25deg);
  }
}

/* Mobile - Tutte dritte e allineate */
@media (max-width: 767px) {
  .admin.search-bar {
    width: 90%;
  }
  
  .search-component {
    transform: none !important;
    margin-bottom: 1.2rem;
  }
  
  .admin-header {
    flex-direction: column;
    align-items: center !important;
  }
  
  .title-search-ctn {
    width: 100%;
    align-items: center;
  }
  
  .store-movie-btn {
    width: 100%;
    max-width: 300px;
  }
}

/* Rating Range - Styling migliorato */
.rating-search {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.rating-search > input[type="number"] {
  flex: 1;
  min-width: 80px;
  padding: 0.5rem;
}

.rating-search .checkbox {
  align-items: center;
  white-space: nowrap;
  padding: 0.5rem;
  background-color: rgba(247, 27, 42, 0.1);
  border-radius: 5px;
}

.rating-search .checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: rgb(247, 27, 42);
}

.rating-search .checkbox label {
  margin: 0;
  cursor: pointer;
  user-select: none;
}

/* Hover effects */
.search-component:hover {
  transform: translateX(0px) translateY(-2px) !important;
  z-index: 10;
}

.search-component:hover input {
  border-color: rgb(247, 27, 42);
  box-shadow: 0 4px 12px rgba(247, 27, 42, 0.2);
}