@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', system-ui;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
}

/* HEADER */

.header-ctn {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(27, 27, 27);
  padding: 3% 8%; 
  border-radius: 10px;
}
 .logo-ctn {
  margin: 0 2rem;
} 

.logo {
  width: 15rem;
}

.header-ctn a {
  font-family: 'Black Ops One', system-ui;
  text-decoration: none;
  color: rgb(195, 60, 69);
}

.header-ctn .active {
  color: rgb(247, 27, 42);
  border-bottom: 1px solid rgb(247, 27, 42);
  
}


/* HOMEPAGE */
.home-comp {
  margin: 3em auto;
}
/* HomePage Jumbo */
.jumbo-ctn {
  border: 5px solid rgb(203, 46, 63);
  background-color: rgba(43, 173, 31, 0.693);
}

.jumbo-ctn p, h2{
  text-align: center;
  color: rgb(27, 27, 27);
}

.jumbo-img {
  width: 15rem;
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
}

/* CARDLIST */

.catalogue-title {
  margin-top: 3rem;
  font-size: 3rem;
}

/* Single Card Design */

.card-title {
  border: 2px solid rgb(247, 27, 42);
}

.card-title h5 {
  padding-left: 5px;
  padding-top: 10px;
  color: rgb(195, 60, 69);
  color: rgb(247, 27, 42);
}

.card-main {
  margin: 10px auto;
  width: fit-content;
}

.card-image {
  width: 15rem;
  border-radius: 0;
}

.card-info {
  display: flex;
  justify-content: space-around;
}

.card-info .year {
  background-color: rgb(255, 187, 0);
  padding: 5px 10px;
  border-radius: 5px 5px 5px 5px;
  width: fit-content;
}

@media (max-width: 767px) {
  .card-title h5 {
    text-align: center;
  }
}

/* In Card rating */
.bi {
  rotate: 90deg;
  color: rgb(138, 196, 119);
}



/* SINGLE MOVIE PAGE */

/* Movie Section */
.movie-section {
  margin: 5rem auto;
  width: 90%;
  border-top: 3px solid rgb(247, 27, 42);
  padding-top: 3rem;

  background: linear-gradient(180deg, grey 0%, white 100%);
}

.movie-header .card-title{
    min-width: 35%;
    padding: 10px;
    margin: 1rem auto;
    background-color: rgb(239, 222, 227);
    border-radius: 5px;
    color: rgb(247, 27, 42);
    text-align: center;

    position:absolute;
    top: 30%;
    right: 45%;
    z-index: 10;

}


.movie-main img {
  width: 40%;
}

.movie-main .card-info {
  width: 40%;
}

.nunito {
  font-family: 'Nunito Variable', sans-serif;
}

.movie-main p {
  width: 90%;
}

.movie-section .footer {
  width: 40%;
  margin: 1rem auto;
  margin-bottom: 4rem;
}


/* Review Section */
.review-section {
  min-height: 20rem;
}