@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Black Ops One', system-ui;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
}

/* HEADER */

.header-ctn {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(27, 27, 27);
  padding: 2rem 5rem;
  border-radius: 10px;
}
 .logo-ctn {
  margin: 0 2rem;
} 

.logo {
  width: 15rem;
}

.header-ctn a {
  font-family: 'Black Ops One', system-ui;
  text-decoration: none;
  color: rgb(195, 60, 69);
}


/* HOMEPAGE */
.home-comp {
  margin: 3em auto;
}
/* HomePage Jumbo */
.jumbo-ctn {
  border: 5px solid rgb(203, 46, 63);
  background-color: rgba(43, 173, 31, 0.693);
}

.jumbo-ctn p, h3{
  text-align: center;
  color: rgb(27, 27, 27);
}

.jumbo-img {
  width: 15rem;
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
}